// variabili
// colore primario del testo (bianco)
$whitetextcolor:white;
// colore secondario del testo (grigio)
$secondarytextcolor:gray;
// colore grigio trasparente degli items principali
$pricipalitems:#2e3a46;